# Ignore all the files in the path .\lib\rosetta_linux
.\lib\rosetta_linux\*
lib/rosetta_linux/*
lib/__pycache__/* 
ROSETTA_CRASH.log
__pycache__/utility.cpython-39.pyc
lib/msms.tar.gz
lib/ref2015.wts
lib/rosetta_linux.zip
lib/storage/log_variant_relaxed.txt
lib/storage/log_variant.txt
lib/storage/log_wild_relaxed.txt
lib/storage/log_wild.txt
lib/storage/score_variant_relaxed.out
lib/storage/score_wild_relaxed.out
lib/storage/variant.pdb
lib/storage/wild.pdb
pages/__pycache__/file_upload_utils.cpython-39.pyc
pages/__pycache__/utility.cpython-39.pyc
__pycache__/utility.cpython-39.pyc
lib/storage/log_variant.txt
lib/storage/log_wild.txt
lib/storage/variant.pdb
lib/storage/wild.pdb
