2to3==1.0
absl-py==1.0.0
aiohttp==3.8.1
aiosignal==1.2.0
alabaster==0.7.12
altair==4.2.2
anyio==3.5.0
appdirs==1.4.4
argh==0.26.2
argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
arrow==1.2.2
asn1crypto==1.4.0
astor==0.8.1
astroid==2.6.6
astropy==5.0.4
asttokens==2.2.1
async-generator==1.10
async-timeout==4.0.2
atomicwrites==1.4.0
attrs==22.2.0
Automat==20.2.0
autopep8==1.6.0
Babel==2.9.1
backcall==0.2.0
backports.functools-lru-cache==1.6.4
backports.shutil-get-terminal-size==1.0.0
backports.tempfile==1.0
backports.weakref==1.0.post1
base58==2.1.1
bcrypt==3.2.0
beautifulsoup4==4.11.1
binaryornot==0.4.4
biopython==1.79
bitarray==2.4.1
bkcharts==0.2
black==19.10b0
bleach==4.1.0
blinker==1.5
bokeh==2.4.3
boto==2.49.0
boto3==1.21.32
botocore==1.24.32
Bottleneck==1.3.4
brotlipy==0.7.0
cached-property==1.5.2
cachetools==5.3.0
certifi==2022.12.7
cffi==1.15.0
chardet==4.0.0
charset-normalizer==3.0.1
click==8.1.3
cloud-init==21.4
cloudpickle==2.0.0
cmdtest==0.32+git
colorama==0.4.4
colorcet==3.0.0
comm==0.1.2
command-not-found==0.3
commonmark==0.9.1
configobj==5.0.6
constantly==15.1.0
contextlib2==0.6.0.post1
cookiecutter==1.7.3
cryptography==3.4.8
cssselect==1.1.0
cycler==0.11.0
Cython==0.29.28
cytoolz==0.11.0
dask==2022.2.1
dataclasses-json==0.5.7
datasets==2.1.0
datashader==0.13.0
datashape==0.5.2
dbus-python==1.2.16
debugpy==1.5.1
decorator==5.1.1
defusedxml==0.7.1
deprecation==2.1.0
diff-match-patch==20200713
dill==0.3.4
distributed==2022.2.1
distro==1.4.0
distro-info===0.23ubuntu1
docutils==0.17.1
entrypoints==0.4
envd==0.1.0
et-xmlfile==1.1.0
executing==1.2.0
extra-streamlit-components==0.1.56
fair-esm==1.0.3
fastjsonschema==2.15.1
filelock==3.6.0
flake8==3.9.2
Flask==1.1.2
fonttools==4.25.0
fqdn==1.5.1
frozenlist==1.3.0
fsspec==2022.2.0
future==0.18.2
gdown==4.5.1
gensim==4.1.2
gevent==21.8.0
gitdb==4.0.10
GitPython==3.1.31
glob2==0.7
gmpy2==2.1.2
google-api-core==2.10.2
google-auth==1.35.0
google-auth-oauthlib==0.4.6
google-cloud-core==1.7.3
google-cloud-storage==1.31.0
google-crc32c==1.1.2
google-resumable-media==1.3.1
googleapis-common-protos==1.56.4
greenlet==1.1.1
grpcio==1.50.0
grpcio-status==1.50.0
h5py==3.6.0
HeapDict==1.0.1
holoviews==1.14.8
html5lib==1.1
httplib2==0.14.0
huggingface-hub==0.5.1
hvplot==0.7.3
hyperlink==21.0.0
idna==3.4
imagecodecs==2021.8.26
imageio==2.9.0
imagesize==1.3.0
importlib-metadata==6.0.0
incremental==21.3.0
inflection==0.5.1
iniconfig==1.1.1
intake==0.6.5
intervaltree==3.1.0
ipykernel==6.9.1
ipyspeck==0.6.1
ipython==8.2.0
ipython-genutils==0.2.0
ipywidgets==7.6.3
isoduration==20.11.0
isort==5.9.3
itemadapter==0.3.0
itemloaders==1.0.4
itsdangerous==2.0.1
jdcal==1.4.1
jedi==0.18.1
Jinja2==3.1.2
jinja2-time==0.2.0
jmespath==1.0.1
jsonpatch==1.22
jsonpointer==2.0
jsonschema==4.17.3
jupyter-events==0.5.0
jupyter_client==7.4.8
jupyter_core==5.1.2
jupyter_packaging==0.12.3
jupyter_server==2.0.6
jupyter_server_terminals==0.4.3
jupyterlab-pygments==0.2.2
jupyterlab-widgets==3.0.5
keyring==18.0.1
kiwisolver==1.4.4
langchain==0.0.88
language-selector==0.1
launchpadlib==1.10.13
lazr.restfulclient==0.14.2
lazr.uri==1.0.3
lazy-object-proxy==1.9.0
llvmlite==0.39.1
locket==1.0.0
lxml==4.9.2
Markdown==3.1.1
markdown-it-py==2.1.0
MarkupSafe==2.1.2
marshmallow==3.19.0
marshmallow-enum==1.5.1
matplotlib==3.5.1
matplotlib-inline==0.1.6
mccabe==0.6.1
mdurl==0.1.2
mistune==2.0.4
more-itertools==4.2.0
msgpack==1.0.4
multidict==6.0.4
multipledispatch==0.6.0
multiprocess==0.70.14
mypy-extensions==1.0.0
nbclassic==0.4.8
nbclient==0.7.2
nbconvert==7.2.7
nbformat==5.7.1
nest-asyncio==1.5.6
netifaces==0.10.4
networkx==3.0
notebook==6.5.2
notebook_shim==0.2.2
numba==0.56.4
numpy==1.24.2
oauthlib==3.1.0
packaging==23.0
pandas==1.5.3
pandocfilters==1.5.0
panel==0.14.3
param==1.12.3
parsel==1.7.0
parso==0.8.3
partd==1.3.0
pathspec==0.11.0
pexpect==4.6.0
pickleshare==0.7.5
Pillow==9.4.0
platformdirs==2.6.2
plotly==5.11.0
poyo==0.5.0
prometheus-client==0.15.0
prompt-toolkit==3.0.36
protobuf==3.20.3
psutil==5.9.4
ptyprocess==0.7.0
pure-eval==0.2.2
py3Dmol==2.0.0.post2
pyarrow==11.0.0
pyasn1==0.4.2
pyasn1-modules==0.2.1
pycodestyle==2.7.0
pycparser==2.21
pyct==0.4.8
pydantic==1.10.5
pydeck==0.8.0
pyerfa==2.0.0.1
pyflakes==2.3.1
Pygments==2.14.0
PyGObject==3.36.0
PyHamcrest==1.9.0
PyJWT==2.6.0
pymacaroons==0.13.0
Pympler==1.0.1
PyNaCl==1.3.0
pyOpenSSL==19.0.0
pyparsing==3.0.9
pyrsistent==0.19.3
pyserial==3.4
PySocks==1.7.1
python-apt==2.0.0+ubuntu0.20.4.7
python-dateutil==2.8.2
python-debian===0.1.36ubuntu1
python-dotenv==0.19.2
python-json-logger==2.0.4
python-slugify==8.0.0
pytz==2022.7.1
pytz-deprecation-shim==0.1.0.post0
pyviz-comms==2.2.1
PyYAML==6.0
pyzmq==24.0.1
regex==2022.10.31
requests==2.28.2
requests-oauthlib==1.3.1
requests-unixsocket==0.2.0
responses==0.18.0
rfc3339-validator==0.1.4
rfc3986-validator==0.1.1
rich==13.3.1
rsa==4.9
s3transfer==0.5.2
scipy==1.9.3
seaborn==0.11.2
SecretStorage==2.3.1
semver==2.13.0
Send2Trash==1.8.0
service-identity==18.1.0
simplejson==3.16.0
six==1.16.0
smart-open==6.3.0
smmap==5.0.0
sniffio==1.3.0
sortedcontainers==2.4.0
sos==4.2
soupsieve==2.3.2.post1
SQLAlchemy==1.4.46
ssh-import-id==5.10
st-pages==0.3.2
stack-data==0.6.2
stmol==0.0.9
streamlit==1.17.0
streamlit-aggrid==0.2.3.post2
streamlit-authenticator==0.2.1
streamlit-plotly-events==0.0.6
systemd-python==234
tblib==1.7.0
tenacity==8.1.0
terminado==0.17.1
text-unidecode==1.3
tinycss2==1.2.1
toml==0.10.2
tomlkit==0.11.6
toolz==0.12.0
tornado==6.2
tqdm==4.64.1
traitlets==5.8.0
ttystatus==0.38
Twisted==18.9.0
typed-ast==1.5.4
typing-inspect==0.8.0
typing_extensions==4.5.0
tzdata==2022.7
tzlocal==4.2
ubuntu-advantage-tools==27.6
ufw==0.36
unattended-upgrades==0.1
uri-template==1.2.0
urllib3==1.26.14
validators==0.20.0
w3lib==2.1.1
wadllib==1.3.3
watchdog==2.2.1
wcwidth==0.2.5
webcolors==1.12
webencodings==0.5.1
websocket-client==1.4.2
Werkzeug==2.2.3
widgetsnbextension==3.5.2
wrapt==1.12.1
xarray==2023.2.0
xxhash==3.2.0
yarl==1.8.2
youtube-dl==2021.12.17
zict==2.2.0
zipp==3.14.0
zope.event==4.6
zope.interface==4.7.1
